Question 5

In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np

In [4]:
# Import the dataset from this address.
#Assign it to a variable called chipo.

# Dataset URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# Read the dataset into a DataFrame called chipo
chipo = pd.read_csv(url, sep='\t')

In [3]:
# See the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
# What is the number of observations in the dataset?

number_of_observations = chipo.shape[0]
print(f'Number of observations: {number_of_observations}')

Number of observations: 4622

In [6]:
# What is the number of columns in the dataset?

number_of_columns = chipo.shape[1]
print(f'Number of columns: {number_of_columns}')

Number of columns: 5

In [7]:
#Print the name of all the columns.
column_name = chipo.columns
print('Column names:', column_name)

Column names: Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
# How is the dataset indexed?
index_info = chipo.index
print('Index information:', index_info)

Index information: RangeIndex(start=0, stop=4622, step=1)

In [10]:
#Which was the most-ordered item?

most_ordered = chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).index[0]
print(f'Most-ordered item: {most_ordered}')

Most-ordered item: Chicken Bowl

In [11]:
# For the most-ordered item, how many items were ordered?
most_ordered_item_quantity = chipo[chipo['item_name'] == most_ordered_item]['quantity'].sum()
print(f'Quantity ordered for the most-ordered item ({most_ordered_item}): {most_ordered_item_quantity}')

Quantity ordered for the most-ordered item (Chicken Bowl): 761

In [12]:
#What was the most ordered item in the choice_description column?

choice_most_ordered = chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending=False).index[0]
print(f'Most-ordered item in choice_description: {choice_most_ordered}')

Most-ordered item in choice_description: [Diet Coke]

In [13]:
#How many items were ordered in total?

number_of_total_items = chipo['quantity'].sum()
print(f'Total items ordered: {number_of_total_items}')

Total items ordered: 4972

In [17]:
# Step 13. Turn the item price into a float
# Check the item price type before conversion
item_price_type_before_conversion = chipo['item_price'].dtype
print(f'Item price type before conversion: {item_price_type_before_conversion}')

# Check if the 'item_price' column is in string format
if chipo['item_price'].dtype == 'O':
    # Create a lambda function to change the type of item price
    convert_to_float = lambda x: float(x[1:])
    
    # Apply the lambda function to the 'item_price' column
    chipo['item_price'] = chipo['item_price'].apply(convert_to_float)

# Check the item price type after conversion
item_price_type_after_conversion = chipo['item_price'].dtype
print(f'Item price type after conversion: {item_price_type_after_conversion}')

Item price type before conversion: float64
Item price type after conversion: float64

In [20]:
#  Calculate the total revenue
chipo['item_price'] = chipo['item_price'].astype(float)  
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
revenue_total = chipo['revenue'].sum()
print(f" Total revenue: ${total_revenue:.2f}")

 Total revenue: $39237.02

In [21]:
#Calculate the number of orders made
number_of_orders = chipo['order_id'].nunique()
print(f" Number of orders made: {number_of_orders}")

 Number of orders made: 1834

In [23]:
# Calculate the average revenue amount per order
average_revenue_per_order = revenue_total / number_of_orders
print(f"Average revenue amount per order: ${average_revenue_per_order:.2f}")

Average revenue amount per order: $21.39

In [24]:
#Calculate the number of different items sold
number_of_different_items_sold = chipo['item_name'].nunique()
print(f"Number of different items sold: {number_of_different_items_sold}")

Number of different items sold: 50